.customInput {
  margin: 50px auto;
}

input {
  font-size: 20px;
  border: 2px solid salmon;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  margin-top: 70px;
  width: 25%;
  color: salmon;
  font-weight: 700;

  &::placeholder {
    font-weight: 400;
  }
}

.addItemButton {
  font-size: 30px;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: salmon;
  color: white;
  width: 50px;
  margin-left: 20px;
  cursor: pointer;

  &:hover {
    background-color: lightsalmon;
  }
}


@media (max-width: 500px) {
  input {
    width: 50%;
  }
}